@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */

h1 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2em;
	letter-spacing: .20em;
	line-height: 2.4em;
	text-transform: uppercase;
}

h2 {
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1.2em;
	letter-spacing: .08em;
	line-height: 1.8em;
	text-transform: uppercase;
}

p, a, ul, li {
	color: black;
	font-family: 'Raleway';
	font-weight: 200;
	font-size: .08;
	letter-spacing: .08em;
	line-height: 1.64em;
	text-decoration: none;
}

.wrapper {
	width: 75%;
	min-width: 640px;
	margin: 33.333333vh auto;
}

.box {
	float: left;
	width: 50%;
}

.links {
	padding: 1.2em 2.4em;
}

a.main-button {
	background: black;
	border: 2px solid black;
	text-align: center;
	color: white;
	font-weight: 600;
	display: inline-block;
	padding: 1.2em 2.4em;
	width: 240px;
	height: auto;
}

a.button {
	border: 2px solid black;
	font-weight: 400;
	text-align: center;
	width: 240px;
	display: inline-block;
	height: auto;
	padding: 1.2em 2.4em;
}

li.button-fixer {
	margin: 1.2em auto;
}

.signature {
	color: gray;
}
